@font-face {
    font-family: Satoshi500;
    src: url("../../../fonts/Satoshi-Medium.otf") format("opentype");
}
@font-face {
    font-family: Satoshi400;
    src: url("../../../fonts/Satoshi-Regular.otf") format("opentype");
}
@font-face {
    font-family: Satoshi700;
    src: url("../../../fonts/Satoshi-Bold.otf") format("opentype");
}
@font-face {
    font-family: Integralcf700;
    src: url("../../../fonts/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
}