* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket_wrapper {
  position: relative;

  svg {
    width: 40px;
  }

  .basket_counter {
    position: absolute;
    padding: 0 8px;
    background-color: red;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    opacity: 0;
  }

  .basket_counter.shown {
    opacity: 1;
  }
}

.card {
  img {
    height: 200px;
    object-fit: contain;
  }

  .card-body {
    height: 150px;
  }
}
