.speakingPage{
    background-color: $pageColor;
    margin-top: 100px;
    .container{
        @extend %container;
        .speakingpage{
            height: 896px;
            @include flexBox();
            gap: 60px;
            .left-side img{
                width: 480px;
                height: 548px;
            }
            .right-side{
                display: flex;
                flex-direction: column;
                gap: 20px;
                >h1{
                    @include textSizes(35px,600);
                    line-height: 40px;
                    color: rgb(33, 35, 39);
                    span{
                        @include textSizes(35px,600);
                        line-height: 40px;
                        color: rgb(61, 190, 82);
                    }
                }
                .card{
                    background-color: white;
                    border-radius: 10px;
                    padding: 24px;
                    width: 440px;
                    height: 437px;
                    @include flexBoxDifferentParametrs(column,start,center,16px);
                    >img{
                        width: 74px;
                        height: 75px;
                        border-radius: 50%;
                    }
                    .text{
                        color: rgb(46, 51, 51);
                        @include textSizes(18px,400);
                        line-height: 26px;
                        width: 392px;
                        height: 182px;
                        padding: 0 12px;
                    }
                    h4{
                        color: rgb(130, 133, 133);
                        @include textSizes(20px,700);
                    }
                    .line{
                        width: 100px;
                        border: 1px solid rgb(46, 51, 51);
                    }
                    .zaraLogo{
                        @include flexBox();
                        gap: 16px;
                        .zara{
                            p{
                                @include textSizes(12px,400);
                                color: rgb(130, 133, 133);
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .speakingPage{
        .container{
            @extend %container;
            .speakingpage{
                height: 100%;
                @include flexBoxDifferentParametrs(column,center,center,16px);
                gap: 60px;
                .left-side img{
                    width: 250px;
                    height: 254px;
                }
                .right-side{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    >h1{
                        @include textSizes(35px,600);
                        line-height: 40px;
                        color: rgb(33, 35, 39);
                        width: 290px;
                        height: 80px;
                        align-self: center;
                        span{
                            @include textSizes(35px,600);
                            line-height: 40px;
                            color: rgb(61, 190, 82);
                        }
                    }
                    .card{
                        background-color: white;
                        border-radius: 10px;
                        width: 250px;
                        height: 502px;
                        @include flexBoxDifferentParametrs(column,center,center,16px);
                        >img{
                            width: 37px;
                            height: 37px;
                            border-radius: 50%;
                        }
                        .text{
                            color: rgb(46, 51, 51);
                            @include textSizes(16px,400);
                            line-height: 26px;
                            height: 501px;
                            padding: 0 12px;
                            width: 242px;
                        }
                        h4{
                            color: rgb(130, 133, 133);
                            @include textSizes(20px,700);
                        }
                        .line{
                            width: 100px;
                            border: 1px solid rgb(46, 51, 51);
                        }
                        .zaraLogo{
                            @include flexBox();
                            gap: 12px;
                            .zara{
                                p{
                                    @include textSizes(12px,400);
                                    color: rgb(130, 133, 133);
                                    line-height: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
  }