* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* navbar start */
header {
    background-color: #007878;
}

.container {
    margin: 0px auto;
    max-width: 1128px;
}
.navbar {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.navbar .left-side p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFFE5;
    font-size: 14px;
    line-height: 23.8px;
    text-align: left;
}

.navbar .right-side nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.navbar .right-side nav ul li {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 16.8px;
    cursor: pointer;
    text-align: left;
}
.navbar .right-side nav ul li:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 40px;
    padding-right: 40px;
}
/* navbar finish */




/* snobellasearching start */
@font-face {
    font-family: Palanquin-Bold;
    src: url("../assets/fonts/Palanquin-Bold.ttf");
}
@font-face {
    font-family:Poppins-Medium;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
.snobellasearching{
    background-color: white;
}
.searching{
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:baseline;
}
.snobellasearching .searching .top-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 17px;
}
.snobellasearching .searching .top-side .right-side{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    column-gap: 108px;
}
.snobellasearching .searching .top-side .right-side h1{
    font-family: Palanquin-Bold;
    font-weight: 700;
}
.snobellasearching .searching .top-side .left-side{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 26px;
}
.snobellasearching .searching .top-side .left-side>div{
    width: 86px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
}
.snobellasearching .searching .top-side .left-side>div>img{
    width: 20px;
    height: 24px;
}
.snobellasearching .searching .top-side .left-side>div p{
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 16.8px;
}
.snobellasearching .searching .top-side .right-side .product-search input{
    width: 504px;
    height: 48px;
    border-radius: 8px;
    opacity: 0px;
    background: #F7F9FC;
    border: none;
    padding: 15px 34px 14px 16px ;

}
.snobellasearching .searching .top-side .right-side .product-search{
    position: relative;
}
.snobellasearching .searching .top-side .right-side .product-search img{
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    right: 12px;
}
@font-face {
    font-family: Poppins400;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
.snobellasearching .searching .bottom-side{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:center;
    column-gap: 44px;
}
.snobellasearching .searching .bottom-side a{
    text-decoration: none;
    font-family: Poppins400;
    color: #273142;  
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    cursor: pointer;
}
/* snobellasearching finish */

/* shoulder start */
.shoulderrbags{
    background-color: white;
}
.shoulderrbags .shoulder{
    height: 154px;
    display: flex;
    flex-direction: column;
}
.shoulderrbags .shoulder div:first-child{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    column-gap: 4px;
}
.shoulderrbags .shoulder div:first-child p{
    font-family: Poppins400;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    color: #1D1D1DBF;    
}
.shoulderrbags .shoulder div:nth-child(2) h1{
    font-family: RubikBold;
    font-size: 40px;
    font-weight: 500;
    color: #212121;
    line-height: 68px;
    text-align: left;    
}
.shoulderrbags .shoulder div:nth-child(3){
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 27px;
}
.shoulderrbags .shoulder div:nth-child(3)>p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;    
}
.shoulderrbags .shoulder div:nth-child(3) button{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px;
}
.shoulderrbags .shoulder div:nth-child(3) button>p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;    
    color: #212121E5;
}
@font-face {
    font-family: RubikMedium;
    src: url("../assets/fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: RubikBold;
    src: url("../assets/fonts/Rubik-Bold.ttf");
}
/* products start */

.main{
    margin-top: 20px;
}
.main .products{
    display: flex;
    flex-direction: row;
    column-gap: 58px;
}
.main .products .left-side{

}
.main .products .left-side .cards{
    display: flex;
    flex-direction: column;
    row-gap: 24px;

}
.main .products .left-side .cards .card{
    width: 326px;
    height: 340px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.main .products .left-side .cards .card .top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    margin-top: 20px;
}
.main .products .left-side .cards .card .top h3{
    font-family: RubikMedium;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    text-align: left;    
}
.main .products .left-side .cards .card ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 40px;
}
.main .products .left-side .cards .cardtwo ul li{
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    align-items: center;
    align-items: start;
}
.main .products .left-side .cards .cardtwo ul li p{
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;   
}
.main .products .left-side .cards .cardthree{
    width: 326px;
    height: 146px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.main .products .left-side .cards .cardfour{
    width: 326px;
    height: 146px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.main .products .left-side .cards .cardfive{
    width: 326px;
    height: 146px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.main .products .left-side .cards .cardfive .bottom ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main .products .left-side .cards .cardfive .bottom ul li{
    width: 18px;
    height: 18px;
    border-radius: 50px;    
    list-style-type: none;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(1){
    background-color: #275240;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(2){
    background-color:#0085FF;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(3){
    background-color:#3D2A33;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(4){
    background-color:#773838;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(5){
    background-color:black;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(6){
    background-color:#307E46;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(7){
    background-color:#0085FF;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(8){
    background-color:#FF6B00;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(9){
    background-color:#D6B73B;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(10){
    background-color:#7C4DFF;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(11){
    background-color:#F75145;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(12){
    background-color:#842759;
}
.main .products .left-side .cards .cardfive .bottom ul li:nth-child(13){
    background-color:#895C31;
}
.main .products .left-side .cards .cardfour .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.main .products .left-side .cards .cardthree .bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}
.main .products .left-side .cards .cardthree .bottom button{
    font-family: Rubik400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #212121BF;
    width: 72px;
    text-align: center;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #C8C8C8
}
.main .products .left-side .cards .cardfour .bottom button{
    font-family: Rubik400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #212121BF;
    width: 72px;
    text-align: center;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #C8C8C8
}
.main .products .left-side .cards .cardthree .bottom button:nth-child(4){
    width: 51px;
    height: 40px;
    background-color: #EF544F;
    border-radius: 8px;
    padding-top: 5px;
    border: 1px solid #C8C8C8
}
.main .products .right-side .cards{
    display: flex;
    flex-direction: row;
    column-gap:23px ;
    flex-wrap: wrap;
    row-gap: 48px;
}
.main .products .right-side .cards .card{
    width: 360px;
    height: 508px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color:#F9F9F9;    
}
.main .products .right-side .cards .card .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main .products .right-side .cards .card .top>button{
    width: 79px;
    height: 32px;
    background-color: #DF4244;
    color: white;
    border: none;
    border-radius: 8px;  
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27.2px;
    margin-left: 16px;
    margin-top: 16px;
}
.main .products .right-side .cards .card:nth-child(2) .top>button{
    width: 79px;
    height: 32px;
    background-color: #43D167;
    color: white;
    border: none;
    border-radius: 8px;  
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27.2px;
    margin-left: 16px;
    margin-top: 16px;
}
.main .products .right-side .cards .card:nth-child(4) .top>button{
    width: 79px;
    height: 32px;
    background-color: #43D167;
    color: white;
    border: none;
    border-radius: 8px;  
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27.2px;
    margin-left: 16px;
    margin-top: 16px;
}
.main .products .right-side .cards .card:nth-child(6) .top>button{
    width: 79px;
    height: 32px;
    background-color: #43D167;
    color: white;
    border: none;
    border-radius: 8px;  
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 27.2px;
    margin-left: 16px;
    margin-top: 16px;
}
.main .products .right-side .cards .card .top>img{
    margin-right: 16px;
    margin-top: 16px;
}
.main .products .right-side .cards .card .picture>img{
    margin-top: 11px;
    margin-left: 71px;
    margin-right: 71px;
}
.main .products .right-side .cards .card:nth-child(4) .picture>img{
    margin-top: 35px;
    margin-left: 71px;
    margin-right: 70px;
}
.main .products .right-side .cards .card .stars>img{
    margin-left: 24px;
    margin-right: 242px;
}
.main .products .right-side .cards .card .onlytext>p{
    font-family: Rubik400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align:left;
    margin-left: 24px;
    margin-top: 16px;
    margin-right: 34px;
}
.main .products .right-side .cards .card .coupletext{
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    margin-top: 16px;
    align-items: center;
    margin-left: 24px;
}
.main .products .right-side .cards .card .coupletext>h4{
    font-family: Poppins600;
    font-size: 20px;
    font-weight: 600;
    color: #F75145;
    line-height: 34px;
    text-align: left;    
}
.main .products .right-side .cards .card .coupletext>p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;
    color: #363636BF;
}
.main .products .right-side .cards .card .button>button{
    border-radius: 8px;
    border: 1px solid #212121;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 2px;
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    width: 312px;
    height: 48px;
    line-height: 27.2px;
    text-align: center;
}
@font-face {
    font-family: Poppins600;
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: Poppins500;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Rubik400;
    src: url("../assets/fonts/Rubik-Medium.ttf");
}
.main .products .left-side .cards .cardone ul{
    list-style-type: none;
    font-family: Poppins500;
    font-size: 16px;
    color: #212121;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;    
}
footer{
    background-color:#F7F7F9;
}
footer .footer{
    height: 546px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
footer .footer .headerr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

footer .footer .headerr>h1{
    font-family: Palanquin-Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;    
}
footer .footer .headerr .right-side{
    position: relative;
}
footer .footer .headerr .right-side img{
    position: absolute;
    right: 50px;
    top: 15px;
}
footer .footer .headerr .right-side>input{
    width: 504px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #9E9E9E59 ;
    padding-left: 50px;
    margin-bottom: 50px;
}
footer .footer .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .footer .main .right-side{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;
    justify-content: space-around;
}
footer .footer .main .right-side>p{
    font-family: Poppins400;
    font-size: 16px;
    color:#212121BF;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;    
    width: 326px;
}
footer .footer .main .right-side .mail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .right-side .telephone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .right-side button{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 1px solid #171717;
    padding: 10px 16px 11px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .left-side{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: space-between;
}
footer .footer .main .left-side>div{
    display: flex;
    flex-direction: row;
}
footer .footer .main .left-side>div>ul{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 30px;
}
footer .footer .main .left-side>div>ul li{
    list-style-type: none;
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}
footer .footer .main .left-side>div>ul li:first-child{
    font-family: RubikBold;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: left;    
}
footer .footer .end{
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
footer .footer .end .left-side p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;    
}
footer .footer .end .right-side{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
@media only screen and (max-width:992px){
    .container {
        margin: 0px auto;
    }
    .navbar {
        height: 68px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
    }
    .navbar .left-side p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #FFFFFFE5;
        font-size: 10px;
        line-height: 23.8px;
        padding: 0px 5px;
        text-align: left;
    }
    .navbar .right-side nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .navbar .left-side img {
        width: 20px;
        padding-top: 5px;
    }
    .navbar .right-side nav ul li {
        list-style-type: none;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: white;
        cursor: pointer;
    }
    .navbar .right-side nav ul li:nth-child(2) {
        border-left: none;
        border-right: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .searching{
        height: 258px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .snobellasearching .searching .top-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .right-side{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .left-side{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .left-side>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 16px;
    }
    .snobellasearching .searching .top-side .left-side>div>img{
        width: 15px;
        height: 18px;
    }
    .snobellasearching .searching .top-side .right-side .product-search input{
        width: 204px;
        height: 28px;
        border-radius: 8px;
        opacity: 0px;
        background: #F7F9FC;
        border: none;
        padding: 5px 24px 4px 16px ;
    }
    .snobellasearching .searching .top-side .right-side .product-search{
        position: relative;
    }
    .snobellasearching .searching .top-side .right-side .product-search img{
        position: absolute;
        top: 7px;
        bottom: 12px;
        width: 14px;
        height: 14px;
        right: 18px;
    }
    .snobellasearching .searching .bottom-side{
        display: flex;
        flex-direction: column;
        align-items:baseline;
        row-gap: 6px;
    }
    .snobellasearching .searching .bottom-side a{
        text-decoration: none;
        font-family: Poppins400;
        color: #273142;  
        font-size:16px;
        font-weight: 400;
        line-height: 27.2px;
        cursor: pointer;
    }
    .shoulderrbags .shoulder div:nth-child(3){
        display: none;
    }
    .shoulderrbags .shoulder div:nth-child(2) h1{
        font-size: 20px;
    }
    .main .products .left-side{
        display: none;
    }
    footer .footer{
        height: 946px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }
    footer .footer .headerr{
     display: none;
    }
    
    footer .footer .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .footer .main .right-side{
        display: none;
    }

    footer .footer .main .left-side{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-between;
    }
    footer .footer .main .left-side>div{
        display: flex;
        flex-direction: row;
    }
    footer .footer .main .left-side>div>ul{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 10px;
    }
    footer .footer .main .left-side>div>ul li{
        list-style-type: none;
        font-family: Poppins400;
        font-size: 12px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }
    footer .footer .main .left-side>div>ul li:first-child{
        font-family: RubikBold;
        font-size: 16px;
        font-weight: 500;
        line-height: 30.6px;
        text-align: left;    
    }
    footer .footer .end{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    footer .footer .end .left-side p{
        font-family: Poppins400;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: center;    
    }
    footer .footer .end .right-side{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
    

}