* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* navbar start */
header {
    background-color: #007878;
}

.container {
    margin: 0px auto;
    max-width: 1128px;
}
.navbar {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.navbar .left-side p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #FFFFFFE5;
    font-size: 14px;
    line-height: 23.8px;
    text-align: left;
}

.navbar .right-side nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

.navbar .right-side nav ul li {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    line-height: 16.8px;
    cursor: pointer;
    text-align: left;
}
.navbar .right-side nav ul li:nth-child(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-left: 40px;
    padding-right: 40px;
}
/* navbar finish */




/* snobellasearching start */
.snobellasearching{
    background-color: white;
}
.searching{
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:baseline;
}
.snobellasearching .searching .top-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 17px;
}
.snobellasearching .searching .top-side .right-side{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    column-gap: 108px;
}
.snobellasearching .searching .top-side .right-side h1{
    font-family: Palanquin-Bold;
    font-weight: 700;
}
.snobellasearching .searching .top-side .left-side{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    column-gap: 26px;
}
.snobellasearching .searching .top-side .left-side>div{
    width: 86px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 11px;
}
.snobellasearching .searching .top-side .left-side>div>img{
    width: 20px;
    height: 24px;
}
.snobellasearching .searching .top-side .left-side>div p{
    font-family: Poppins-Medium;
    font-size: 14px;
    line-height: 16.8px;
}
.snobellasearching .searching .top-side .right-side .product-search input{
    width: 504px;
    height: 48px;
    border-radius: 8px;
    opacity: 0px;
    background: #F7F9FC;
    border: none;
    padding: 15px 34px 14px 16px ;

}
.snobellasearching .searching .top-side .right-side .product-search{
    position: relative;
}
.snobellasearching .searching .top-side .right-side .product-search img{
    position: absolute;
    top: 12px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    right: 12px;
}
.snobellasearching .searching .bottom-side{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:center;
    column-gap: 44px;
}
.snobellasearching .searching .bottom-side a{
    text-decoration: none;
    font-family: Poppins400;
    color: #273142;  
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    cursor: pointer;
}
/* snobellasearching finish */
/* shoulder start */
.shoulderrbags{
    background-color: white;
}
.shoulderrbags .shoulder{
    height: 154px;
    display: flex;
    flex-direction: column;
}
.shoulderrbags .shoulder div:first-child{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    column-gap: 4px;
}
.shoulderrbags .shoulder div:first-child p{
    font-family: Poppins400;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    color: #1D1D1DBF;    
}
.shoulderrbags .shoulder div:nth-child(2) h1{
    font-family: RubikBold;
    font-size: 40px;
    font-weight: 500;
    color: #212121;
    line-height: 68px;
    text-align: left;    
}
.shoppingbag .shopping{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.shoppingbag .shopping .right-side{

}
.shoppingbag .shopping .left-side{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.shoppingbag .shopping .left-side .total{
    width: 360px;
    height: 275px;
    border-radius: 8px;
    background-color: #F9F9F9;
    border: 1px solid #E4E4E4;
}
.shoppingbag .shopping .left-side .total .subtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 24px;
    margin-top: 32px;
    margin-right: 24px;
}
.shoppingbag .shopping .left-side .total .subtotal p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left; 
    color: #212121;
}
.shoppingbag .shopping .left-side .total .shippings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 24px;
    margin-top: 12px;
    margin-right: 24px;
}
.shoppingbag .shopping .left-side .total .shippings p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left; 
    color: #212121;
}
.shoppingbag .shopping .left-side .total .totalend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-left: 24px;
    margin-top: 20px;
    margin-right: 24px;
}
.shoppingbag .shopping .left-side .total .totalend h3{
    font-family: Poppins500;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: left;    
    color: #212121;
}
.shoppingbag .shopping .left-side .total .line img{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
}
.shoppingbag .shopping .left-side .total .button{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #DBDBDB;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 22px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
}
.shoppingbag .shopping .left-side .total .button>button{
    border: none;
    background-color: white;
    text-align: center;
    margin-left: 15px;
    font-family: Poppins400;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #888888;
    margin-bottom: 15px;
    margin-top: 16px;
}
.shoppingbag .shopping .left-side .confirm{
    width: 360px;
    height: 52px;
    color: white;
    background-color: #DF4244;
    border-radius: 8px;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: center;    
}
.shoppingbag .shopping .left-side .cash{
    width: 360px;
    height: 52px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #212121;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: center; 
    color: #212121;       
}
.shoppingbag .shopping .left-side .total .button p{
    width: 102px;
    height: 48px;
    text-align: center;
    background-color: #FF695E;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 0px 8px 8px 0px;
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
}
.shoppingbag .shopping .right-side .cards .card{
    width: 744px;
    height: 211px;
    border-radius: 8px;   
    border: 1px solid #E4E4E4;
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}
.shoppingbag .shopping .right-side .cards .card:nth-child(2) .picture>img{
    width:124px ;
    height: 137px;
}
.shoppingbag .shopping .right-side .cards .card .picture{
    margin-top: 16px;
    margin-left: 17px;
    margin-bottom: 16px;
}
.shoppingbag .shopping .right-side .cards .card .picture img{
    margin-top: 23px;
    margin-right: 14px;
    margin-bottom: 19px;
    margin-left: 13px;
}
.shoppingbag .shopping .right-side .cards .card .text {
    display: flex;
    flex-direction: column;
}
.shoppingbag .shopping .right-side .cards .card .text .header h1:first-child{
    font-family: Rubik500;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    text-align: left;    
    color:#212121;
    margin-top: 16px;
}
.shoppingbag .shopping .right-side .cards .card .text .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shoppingbag .shopping .right-side .cards .card .text .header h1:nth-child(2){
    font-family: Rubik500;
    font-size: 18px;
    font-weight: 500;
    text-align: right;  
    margin-top: 17px;
    margin-right:17px;
    margin-left: 115px;
}
.shoppingbag .shopping .right-side .cards .card .text .qualites{

}
.shoppingbag .shopping .right-side .cards .card .text .qualites .sizecolor{
    display: flex;
    flex-direction: row;
    column-gap: 23px;
    margin-top: 12px;
}
.shoppingbag .shopping .right-side .cards .card .text .qualites .sizecolor p{
    font-family: Poppins400;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    color:#212121BF;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards .card .text .delivary{
    margin-top: 8px;
}
.shoppingbag .shopping .right-side .cards .card .text .delivary p{
    font-family: Poppins400;
    font-size: 14px;
    color:#212121BF;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards .card .text .quality{
    margin-top: 8px;
}
.shoppingbag .shopping .right-side .cards .card .text .quality p{
    font-family: Poppins400;
    font-size: 14px;
    color:#212121BF;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards .card .text .qualites button{
    display: flex;
    flex-direction: row;
    width: 72px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.shoppingbag .shopping .right-side .cards .card .text .qualites button p{
    font-family: Poppins400;
    font-size: 14px;
    color: #212121E5;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards .card .text .icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 17px;
    column-gap: 40px;
}
.shoppingbag .shopping .right-side .cards .card .text .icons .favourite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.shoppingbag .shopping .right-side .cards .card .text .icons .favourite p{
    font-family: Poppins500;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: left;    
}
.shoppingbag .shopping .right-side .cards .card:last-child .text .icons .favourite p{
    color:#DF4244;
}
.shoppingbag .shopping .right-side .cards .card .text .icons .remove{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-right: 17px;
}
.shoppingbag .shopping .right-side .cards .card .text .icons .remove{
    font-family: Poppins500;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    text-align: left;    
}
.settings .seeting .cards{
    width: 1130px;
    height: 249px;
    border: 1px solid #E4E4E4;
    margin-top: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.settings .seeting .cards .card{
    width: 192px;
    height: 184px;
    display: flex;
    border-right: 1px solid #E4E4E4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    margin-left: 37px;
    margin-right: 40px;
    margin-bottom: 33px;
}
.settings .seeting .cards .card h1{
    font-family: Poppins500;
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 27.2px;
    text-align: center;    
}
.settings .seeting .cards .card p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    color: #212121BF;
    margin-top: 16px;
}
footer{
    background-color:#F7F7F9;
    margin-top: 100px;
}
footer .footer{
    height: 546px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
footer .footer .headerr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

footer .footer .headerr>h1{
    font-family: Palanquin-Bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;    
}
footer .footer .headerr .right-side{
    position: relative;
}
footer .footer .headerr .right-side img{
    position: absolute;
    right: 50px;
    top: 15px;
}
footer .footer .headerr .right-side>input{
    width: 504px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #9E9E9E59 ;
    padding-left: 50px;
    margin-bottom: 50px;
}
footer .footer .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .footer .main .right-side{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: baseline;
    justify-content: space-around;
}
footer .footer .main .right-side>p{
    font-family: Poppins400;
    font-size: 16px;
    color:#212121BF;
    font-weight: 400;
    line-height: 27.2px;
    text-align: left;    
    width: 326px;
}
footer .footer .main .right-side .mail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .right-side .telephone{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .right-side button{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    border: 1px solid #171717;
    padding: 10px 16px 11px 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .footer .main .left-side{
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: space-between;
}
footer .footer .main .left-side>div{
    display: flex;
    flex-direction: row;
}
footer .footer .main .left-side>div>ul{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 30px;
}
footer .footer .main .left-side>div>ul li{
    list-style-type: none;
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}
footer .footer .main .left-side>div>ul li:first-child{
    font-family: RubikBold;
    font-size: 18px;
    font-weight: 500;
    line-height: 30.6px;
    text-align: left;    
}
footer .footer .end{
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
footer .footer .end .left-side p{
    font-family: Poppins400;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;    
}
footer .footer .end .right-side{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
@font-face {
    font-family: Poppins400;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: Rubik500;
    src: url("../assets/fonts/Rubik-Medium.ttf");
}
@font-face {
    font-family: RubikBold;
    src: url("../assets/fonts/Rubik-Bold.ttf");
}
@font-face {
    font-family: Poppins400;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins500;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: Palanquin-Bold;
    src: url("../assets/fonts/Palanquin-Bold.ttf");
}
@font-face {
    font-family:Poppins-Medium;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
@media only screen and (max-width:992px){
    .container {
        margin: 0px auto;
    }
    header{
        max-width: 100%;
    }
    .navbar {
        height: 68px;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
    }
    .navbar .left-side p {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #FFFFFFE5;
        font-size: 10px;
        line-height: 23.8px;
        padding: 0px 5px;
        text-align: left;
    }
    .navbar .right-side nav ul {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .navbar .left-side img {
        width: 20px;
        padding-top: 5px;
    }
    .navbar .right-side nav ul li {
        list-style-type: none;
        font-family: "Poppins", sans-serif;
        font-size: 10px;
        font-weight: 500;
        color: white;
        cursor: pointer;
    }
    .navbar .right-side nav ul li:nth-child(2) {
        border-left: none;
        border-right: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .searching{
        height: 258px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
    }
    .snobellasearching .searching .top-side{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .right-side{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .left-side{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    .snobellasearching .searching .top-side .left-side>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        row-gap: 16px;
    }
    .snobellasearching .searching .top-side .left-side>div>img{
        width: 15px;
        height: 18px;
    }
    .snobellasearching .searching .top-side .right-side .product-search input{
        width: 204px;
        height: 28px;
        border-radius: 8px;
        opacity: 0px;
        background: #F7F9FC;
        border: none;
        padding: 5px 24px 4px 16px ;
    }
    .snobellasearching .searching .top-side .right-side .product-search{
        position: relative;
    }
    .snobellasearching .searching .top-side .right-side .product-search img{
        position: absolute;
        top: 7px;
        bottom: 12px;
        width: 14px;
        height: 14px;
        right: 18px;
    }
    .snobellasearching .searching .bottom-side{
        display: flex;
        flex-direction: column;
        align-items:baseline;
        row-gap: 6px;
    }
    .snobellasearching .searching .bottom-side a{
        text-decoration: none;
        font-family: Poppins400;
        color: #273142;  
        font-size:16px;
        font-weight: 400;
        line-height: 27.2px;
        cursor: pointer;
    }
    .shoulderrbags .shoulder div:nth-child(3){
        display: none;
    }
    .shoulderrbags .shoulder div:nth-child(2) h1{
        font-size: 20px;
    }
    .shoppingbag .shopping{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 24px;
    }
    .shoppingbag .shopping .right-side .cards .card{
        width: 300px;
        height: 411px;
        border-radius: 8px;   
        border: 1px solid #E4E4E4;
        display: flex;
        flex-direction: row;
        column-gap: 24px;
    }
    /* --------------------------------- */
    .shoppingbag .shopping .right-side .cards .card:nth-child(2) .picture>img{
        width:74px ;
        height: 57px;
    }
    .shoppingbag .shopping .right-side .cards .picture>img{
        width:74px ;
        height: 87px;
    }
    .shoppingbag .shopping .right-side .cards .card .picture{
        margin-top: 8px;
        margin-left: 9px;
        margin-bottom: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .picture img{
        margin-top: 23px;
        margin-right: 14px;
        margin-bottom: 19px;
        margin-left: 13px;
    }
    .shoppingbag .shopping .right-side .cards .card .text {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .header h1{
        font-family: Rubik500;
        font-size: 12px;
        font-weight: 500;
        line-height: 10.2px;
        text-align: left;    
        color:#212121;
        margin-top: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .header{
        display: flex;
        flex-direction: column;
        height: 50px;
        width: 150px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .header h1:nth-child(2){
        font-family: Rubik500;
        font-size: 12px;
        font-weight: 500;
        text-align: right;  
        margin-top: 9px;
        margin-right:9px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .qualites{
    
    }
    .shoppingbag .shopping .right-side .cards .card .text .qualites .sizecolor{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        margin-top: 26px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .qualites .sizecolor p{
        font-family: Poppins400;
        font-size: 12px;
        font-weight: 400;
        line-height: 23.8px;
        color:#212121BF;
        text-align: left;    
    }
    .shoppingbag .shopping .right-side .cards .card .text .delivary{
        margin-top: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .delivary p{
        font-family: Poppins400;
        font-size: 14px;
        color:#212121BF;
        font-weight: 400;
        line-height: 23.8px;
        text-align: left;    
    }
    .shoppingbag .shopping .right-side .cards .card .text .quality{
        margin-top: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .quality p{
        font-family: Poppins400;
        font-size: 14px;
        color:#212121BF;
        font-weight: 400;
        line-height: 23.8px;
        text-align: left;    
    }
    .shoppingbag .shopping .right-side .cards .card .text .qualites button{
        display: flex;
        flex-direction: row;
        width: 72px;
        height: 32px;
        border-radius: 3px;
        border: 1px solid #E4E4E4;
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .qualites button p{
        font-family: Poppins400;
        font-size: 14px;
        color: #212121E5;
        font-weight: 400;
        line-height: 23.8px;
        text-align: left;    
    }
    .shoppingbag .shopping .right-side .cards .card .text .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 17px;
        gap: 40px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .icons .favourite{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .icons .favourite p{
        font-family: Poppins500;
        font-size: 14px;
        font-weight: 500;
        line-height: 23.8px;
        text-align: left;    
    }
    .shoppingbag .shopping .right-side .cards .card:last-child .text .icons .favourite p{
        color:#DF4244;
    }
    .shoppingbag .shopping .right-side .cards .card .text .icons .remove{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        margin-right: 17px;
    }
    .shoppingbag .shopping .right-side .cards .card .text .icons .remove{
        font-family: Poppins500;
        font-size: 14px;
        font-weight: 500;
        line-height: 23.8px;
        text-align: left;    
    }
    .shoppingbag .shopping{
        margin-left: 20px;
    }
    .shoppingbag .shopping .left-side{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .shoppingbag .shopping .left-side .total{
        width: 260px;
        height: 375px;
        border-radius: 8px;
        padding-top: 100px;
        background-color: #F9F9F9;
        border: 1px solid #E4E4E4;
    }
    .shoppingbag .shopping .left-side .total .subtotal{
        display: flex;
        flex-direction: row;
        align-items:center;
        margin-left: 14px;
        margin-top: 16px;
        margin-right: 12px;
    }
    .shoppingbag .shopping .left-side .total .subtotal p{
        font-family: Poppins400;
        font-size: 14px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: left; 
        color: #212121;
    }
    .shoppingbag .shopping .left-side .total .shippings{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin-left: 12px;
        margin-top: 6px;
        margin-right: 12px;
    }
    .shoppingbag .shopping .left-side .total .shippings p{
        font-family: Poppins400;
        font-size: 14px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: left; 
        color: #212121;
    }
    .shoppingbag .shopping .left-side .total .totalend{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        margin-left: 24px;
        margin-top: 10px;
        margin-right: 12px;
    }
    .shoppingbag .shopping .left-side .total .totalend h3{
        font-family: Poppins500;
        font-size: 14px;
        font-weight: 500;
        line-height: 30.6px;
        text-align: left;    
        color: #212121;
    }
    .shoppingbag .shopping .left-side .total .line{
        display: none;
    }
    .shoppingbag .shopping .left-side .total .button{
        width: 200px;
        height: 68px;
        border-radius: 8px;
        border: 1px;
        border: 1px solid #DBDBDB;
        margin-left: 24px;
        margin-right: 14px;
        margin-top: 12px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
        display: flex;
        flex-direction: row;
    }
    .shoppingbag .shopping .left-side .total .button>button{
        border: none;
        background-color: white;
        text-align: center;
        margin-left: 25px;
        font-family: Poppins400;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: left;
        color: #888888;
        margin-bottom: 5px;
        margin-top: 16px;
    }
    .shoppingbag .shopping .left-side .confirm{
        width: 260px;
        height: 52px;
        color: white;
        background-color: #DF4244;
        border-radius: 8px;
        border: none;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
        text-align: center;    
    }
    .shoppingbag .shopping .left-side .cash{
        width: 260px;
        height: 52px;
        border-radius: 8px;
        border: 1px;
        border: 1px solid #212121;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
        text-align: center; 
        color: #212121;       
    }
    .shoppingbag .shopping .left-side .total .button p{
        width: 102px;
        height: 48px;
        text-align: center;
        background-color: #FF695E;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        padding-right: 28px;
        border-radius: 0px 8px 8px 0px;
        font-family: Poppins500;
        font-size: 16px;
        font-weight: 500;
        line-height: 27.2px;
        text-align: left;    
    }
    .settings{
        display: none;
    }
    footer .footer{
        height: 946px;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 100px;
    }
    footer .footer .headerr{
     display: none;
    }
    
    footer .footer .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .footer .main .right-side{
        display: none;
    }

    footer .footer .main .left-side{
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-between;
    }
    footer .footer .main .left-side>div{
        display: flex;
        flex-direction: row;
    }
    footer .footer .main .left-side>div>ul{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 30px;
    }
    footer .footer .main .left-side>div>ul li{
        list-style-type: none;
        font-family: Poppins400;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
    }
    footer .footer .main .left-side>div>ul li:first-child{
        font-family: RubikBold;
        font-size: 18px;
        font-weight: 500;
        line-height: 30.6px;
        text-align: left;    
    }
    footer .footer .end{
        height: 72px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
    }
    footer .footer .end .left-side p{
        font-family: Poppins400;
        font-size: 16px;
        font-weight: 400;
        line-height: 27.2px;
        text-align: center;    
    }
    footer .footer .end .right-side{
        display: flex;
        flex-direction: row;
        gap: 32px;
    }
}